body {
	background-color: #02010a;
	color: white;
	font-family: Dancing Script;
}

.contenido {
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}
header {
	height: 7em;
	text-align: center;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	animation: slidein 2s;
}
@-webkit-keyframes slidein {
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
}
.titulo {
	display: inline-block;
}
.titulo h1 {
	color: #FFFFFF;
	text-align: left;
	text-shadow: 2px 2px #654456;
}
.menu { font-size:1.5em;display: block}
.menu a {color:white;}
.linkActual {text-decoration: none;}

.contenedor_imagen_central{
	text-align: center;
	margin: auto;
	background-color: #82C3A6;
}
.imagen_central{
	width: 80%;
	max-height: 650px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #82C3A6;
}

.contenedor_imagenes_secundarias {
	background-color: #D5C75F;
	border: 1px solid black;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.imagenes{
	flex: 1 100%;
}

.imagen_secundaria_izq{
	width: 100%;
	box-shadow: 2px 2px #82C3A6;
	background-color: #82C3A6;
	order: 1;
}
.imagen_secundaria_izq:hover{ /* trasnformacion de la imagen izquierda */
	transform: rotate(10deg);
}

.imagen_secundaria_der{
	width: 100%;
	box-shadow: 2px 2px #82C3A6;
	background-color: #82C3A6;
	order: 2;
}
.imagen_secundaria_der:hover{
	transform: translate(20px,-5px);
}
figcaption {
	text-align: center;
	color: black;
}
footer{
	display: -moz-inline-stack;
	display: inline-block;
	width:100%;
	left: 0;
	bottom: 0;
	content: "";
	border-radius: 0 0 10px 10px;
	background-color: #C6D5C5;
	color: black;
}
footer .col-4 {width:20%;float:left;margin:2%}
footer .col-4 p {width:98%;text-align: justify;font-size:1.2em;}
footer .col-4 a {color:black;text-decoration: none;font-size:1.2em;}
footer .col-4 a:visited {color: coral;}

.galeria {
	max-width:100%;
	display: flex;
	flex-flow: column;
}
.galeria > div
{
	width: 100%;
	font-size:20px;
	background-color:steelblue;
	color:#fff;
	text-align:center;
}

.galeria img
{
	width: 100%;
}

#imgGaleria1 { /* imagen1 de la galeria filtro blur 10px */
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

#imgGaleria3 { /* imagen3 de la galeria filtro sepia 90% */
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.galeria div:nth-child(even) figure img { /* imagenes pares dentro de la clase galeria escala de grises 100% */
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

@media (max-width: 576px) {
	footer .col-4 {width:98%;}
}

/* Configuraciones específicas para la version desktop */
@media (min-width: 900px) {
	/* muestra el menu de navegación */
	.menu { display: block; float:right;margin: 3% 1%;}
	header {
		text-align: left;
	}

	.contenido {
		margin: auto;
		width: 900px;
	}

	.titulo h1 {
		margin-left: 10px;
	}

	/* Flex */
	.contenedor_imagenes_secundarias {
		display: flex;
		flex-direction: row;
	}
	.imagenes{
		width: 50%;
		float: left;
		margin: 0 auto;
	}
	.imagen_secundaria_izq{
		width: 100%;
		max-height: 300px;
		margin: auto;
		box-shadow: 2px 2px #82C3A6;
		background-color: #82C3A6;
		order: 1;
	}

	.imagen_secundaria_der{
		width: 100%;
		max-height: 209px;
		float: right;
		box-shadow: 2px 2px #82C3A6;
		background-color: #82C3A6;
		order: 2;
	}

	.galeria {
		max-width:100%;
		padding:0;
		background-color:#82C3A6;
		display: flex;
		flex-flow: row wrap;
		margin: auto;
	}
	.galeria > div {
		width: 33%;
		font-size:20px;
		background-color:#82C3A6;
		color:#fff;
		text-align:center;
	}
	.galeria img {
		width: 100%;
	}
}
